html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.grass,
.sky,
.road {
  position: relative;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 500;
}
.image-wrapper {
  position: relative;

  width: 200px;
  height: 250px;

  background-color: rgb(241, 232, 144);
  border-radius: 25px;
  border: 5px solid black;
  top: 119px;
  left: 19%;
}
.image-of-me {
  position: absolute;
  width: 190px;
  height: 240px;
  border-radius: 20px;
  top: 5px;
  left: -300%;
  animation: slide-image-to-container 2s ease-in forwards;
}
.rope-and-letter-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
  z-index: 500;
  pointer-events: none;
}
.rope-wrapper {
  position: relative;
  width: 80px;
  height: 800px;
}
.rope {
  position: absolute;
  background-color: gray;
  left: 50%;
  top: 0%;
  width: 8px;
  transform-origin: top center;
  animation: rope-drop-and-retract 1.6s both ease-in;
}

.rope-letter-lastname {
  position: absolute;
  background-color: gray;
  left: 50%;
  top: 0%;
  width: 8px;
  transform-origin: top center;
  animation: rope-drop-and-retract-letter-lastname 1.6s both ease-in;
}
.sky {
  height: 40%;
  background: skyblue;
}
.grass {
  height: 30%;
  background-repeat: repeat;
  background-image: url("img/Grass\ 001.png");
  background-size: 2%;
}
.grass-image {
  height: 40%;
}
.road {
  height: 30%;
  background: dimgray;
  /*The CSS box-sizing property allows us to include the padding and border in an
    elements total width and height. Needed for the bottom border to be visible*/
  box-sizing: border-box;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
}
.stripes {
  box-sizing: border-box;
  border: 5px dashed white;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 50%;
}

.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.mario {
  position: absolute;
  animation-name: drive;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.letter {
  background: transparent;
  z-index: 500;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: letter-drop 2s ease-out forwards;
}
.letter-lastname {
  background: transparent;
  z-index: 500;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: letter-lastname-drop 2s ease-out forwards;
}
@keyframes drive {
  0% {
    left: -300px;
  }
  100% {
    left: 2000px;
  }
}

@keyframes luigi-jump {
  0% {
    top: 100px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}

@keyframes rope-drop-and-retract {
  0% {
    height: 0;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}

@keyframes rope-drop-and-retract-letter-lastname {
  0% {
    height: 0;
  }
  50% {
    height: 300px;
  }
  100% {
    height: 0;
  }
}

@keyframes letter-drop {
  0% {
    top: -100px;
  }
  50% {
    top: 90px;
  }
  100% {
    top: 90px;
  }
}

@keyframes letter-lastname-drop {
  0% {
    top: -100px;
  }
  50% {
    top: 290px;
  }
  100% {
    top: 290px;
  }
}

@keyframes slide-image-to-container {
  0% {
    left: -300%;
  }
  90% {
    left: 19%;
    rotate: 0deg;
  }
  100% {
    left: 5px;
  }
}
