html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.grass,
.sky,
.road {
  position: relative;
}
.rope {
  position: absolute;
  border: 5px solid gray;
  background-color: gray;
  left: 30%;
  top: 0%;
  z-index: 500;
  width: 2px;
  height: 300px;
  z-index: 500;
  animation: rope-up-and-down 2s both ease-out;
}

.sky {
  height: 40%;
  background: skyblue;
}
.grass {
  height: 30%;
  background-repeat: repeat;
  background-image: url("img/Grass\ 001.png");
  background-size: 2%;
}
.grass-image {
  height: 40%;
}
.road {
  height: 30%;
  background: dimgray;
  /*The CSS box-sizing property allows us to include the padding and border in an
    elements total width and height. Needed for the bottom border to be visible*/
  box-sizing: border-box;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
}
.stripes {
  box-sizing: border-box;
  border: 5px dashed white;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 50%;
}

.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.mario {
  position: absolute;
  animation-name: drive;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.initials {
  background: transparent;
  z-index: 500;
  height: 100px;
  position: absolute;
  left: 27%;
  top: 0%;
  animation: initials-down 1s forwards ease-out;
}
@keyframes drive {
  0% {
    left: -300px;
  }
  100% {
    left: 2000px;
  }
}

@keyframes luigi-jump {
  0% {
    top: 100px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 100px;
  }
}

@keyframes rope-up-and-down {
  0% {
    top: -330px;
  }
  50% {
    top: -210px;
  }
  100% {
    top: -310px;
  }
}

@keyframes initials-down {
  0% {
    top: -100px;
  }
  100% {
    top: 90px;
  }
}
