html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.grass,
.sky,
.road {
  position: relative;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}
.image-wrapper {
  position: relative;
  width: 200px;
  height: 250px;
  background-color: rgb(241, 232, 144);
  border-radius: 25px;
  border: 5px solid black;
  top: 119px;
  left: 19%;
}
.image-of-me {
  position: absolute;
  width: 190px;
  height: 240px;
  border-radius: 20px;
  top: 5px;
  left: -300%;
  animation: slide-image-to-container 2s ease-in forwards;
}
.rope-and-letter-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
  z-index: 500;
  pointer-events: none;
}
.rope-wrapper {
  position: relative;
  width: 80px;
  height: 800px;
}
.rope-wrapper:nth-child(2) .rope,
.rope-wrapper:nth-child(2) .letter {
  animation-delay: 0.5s;
}

.rope-wrapper:nth-child(3) .rope,
.rope-wrapper:nth-child(3) .letter {
  animation-delay: 1s;
}
.rope {
  position: absolute;
  background-image: url("../img/rope.jpg");
  left: 50%;
  top: 0%;
  width: 8px;
  transform-origin: top center;
  animation: rope-drop-and-retract 1.6s both ease-in;
}

.rope-letter-lastname {
  background-image: url("../img/rope.jpg");
  position: absolute;
  background-color: gray;
  left: 50%;
  top: 0%;
  width: 8px;
  transform-origin: top center;
  animation: rope-drop-and-retract-letter-lastname 1.4s both ease-out 3s;
}
.sky {
  height: 40%;
  background: skyblue;
}
.grass {
  height: 30%;
  background-repeat: repeat;
  background-image: url("../img/grass.png");
  background-size: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grass-image {
  height: 40%;
}
.road {
  height: 30%;
  background: dimgray;
  /*The CSS box-sizing property allows us to include the padding and border in an
    elements total width and height. Needed for the bottom border to be visible*/
  box-sizing: border-box;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
}
.stripes {
  box-sizing: border-box;
  border: 5px dashed white;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 50%;
}

.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation: drive 5s linear infinite both;
  z-index: 1000;
}

.mario {
  position: absolute;
  animation-name: drive;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.letter {
  background: transparent;
  z-index: 500;
  height: 100px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: letter-drop 2s ease-out forwards;
}
.letter-lastname {
  background: transparent;
  z-index: 500;
  height: 100px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  animation: letter-lastname-drop 2s ease-out 3s forwards;
}
.biography-container {
  width: 61%;
  height: 80%;
  border-radius: 25px;
  background-color: rgb(241, 232, 144);
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
}
.biography-card {
  flex: 0 0 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
}
.biography-cards-holder {
  position: relative;
  height: 100%;
  max-height: 100%;
  max-width: 90%;
  overflow: hidden;
  z-index: 1010;
}
.biography-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 100%;
}
.biography-cards-slider {
  height: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.biography-slider:hover {
  transition: 0.5s ease-in-out;
  background-color: black;
  z-index: 1000;
  color: white;
}
.biography-slider {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 1000;
}
.biography-aside {
  width: 20%;
  height: 100%;
  border-left: 2px solid black;
  font-size: medium;
}
.biography-aside.social {
  font-size: large;
  min-width: 210px;
}
.biography-header-and-column-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 80%;
  height: 100%;
  padding-top: 2px;
}
.biography-header {
  border-bottom: 2px solid black;
  font-size: xx-large;
}
.biography-column {
  font-size: large;
}
.biography-column-projects {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  max-width: 100%;
}
.project-wrapper {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 22%;
  height: 90%;
  margin: 5px 2px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  cursor: pointer;
  z-index: 1000;
}
.project-wrapper:hover {
  background-color: white;
  width: 400px;
  color: black;
  z-index: 6000;
}
.biography {
  background-color: rgb(255, 255, 255, 0.5);
  width: 5%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

ul li {
  margin-bottom: 4px;
}

.socials-list-item {
  max-height: 32px;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.socials-list-link {
  transition: transform 0.3s;
}
.socials-list-link:hover {
  transform: scale(1.1);
}
@keyframes drive {
  0% {
    left: -300px;
  }
  100% {
    left: 2000px;
  }
}

@keyframes luigi-jump {
  0% {
    top: 100px;
  }
  20% {
    top: 30px; /* Quickly rise to near the peak */
  }
  40% {
    top: 10px; /* Slow down at the very peak */
  }
  60% {
    top: 30px; /* Start descending, slower initially */
  }
  100% {
    top: 100px; /* Fall back to the original position, faster */
  }
}

@keyframes rope-drop-and-retract {
  0% {
    height: 0;
  }
  50% {
    height: 120px;
  }
  100% {
    height: 0;
  }
}

@keyframes rope-drop-and-retract-letter-lastname {
  0% {
    height: 0;
  }
  70% {
    height: 300px;
  }
  100% {
    height: 0;
  }
}

@keyframes letter-drop {
  0% {
    top: -100px;
  }
  50% {
    top: 110px;
  }
  100% {
    top: 110px;
  }
}

@keyframes letter-lastname-drop {
  0% {
    top: -100px;
  }
  50% {
    top: 290px;
  }
  100% {
    top: 290px;
  }
}

@keyframes slide-image-to-container {
  0% {
    left: -300%;
    rotate: 360deg;
  }
  90% {
    left: 19%;
    rotate: -15deg;
  }
  100% {
    left: 5px;
  }
}
